/*      Begin first-page        */ 
.first-page {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
    z-index:5;
    margin:auto;
    text-align:center;
    background-image:url(../img/chundi[1].png);
	vertical-align:middle;
 }
.first-page .login-img {
	position:absolute;
	left:0;
	bottom:20%;
	right:0;
    top:0;
    overflow:hidden;
	margin:auto;
    width:90%;
    height:50%;
}
.first-page .set-progress {
    position:absolute;
	left:0;
	bottom:-110%;
	right:0;
	top:0;
    margin:auto;
    width:80%;
    height:60%;
    font-weight:800;
}
.set-progress>p {
    font-size:5vw;
    color:white;
}
.new-progress {
    height:5%;
    border-radius: 30px 30px;
    border:1px solid grey;
    background-color:transparent;
}
.setbar {     
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
    box-shadow: 0px -5px 5px 1px rgba(0,0,0,.6) inset;
    background-color: red;
    background-image: -moz-linear-gradient(45deg,yellow 25%,transparent 25%,transparent 50%,yellow 50%,yellow 75%,transparent 75%,transparent);
    background-image: -webkit-linear-gradient(45deg,yellow 25%,transparent 25%,transparent 50%,yellow 50%,yellow 75%,transparent 75%,transparent); 
    background-image: -o-linear-gradient(45deg,yellow 25%,transparent 25%,transparent 50%,yellow 50%,yellow 75%,transparent 75%,transparent); 
    background-image: -ms-linear-gradient(45deg,yellow 25%,transparent 25%,transparent 50%,yellow 50%,yellow 75%,transparent 75%,transparent);  
    background-image: linear-gradient(45deg,yellow 25%,transparent 25%,transparent 50%,yellow 50%,yellow 75%,transparent 75%,transparent);  
} 
/*      End first-page        */ 

/*      Begin second-page     */
.second-page {
    position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
    z-index:2;
    display:none;
    width:100%;
    height:100%;
    margin:auto;
    background-image:url(../img/chundi[1].png);
}
.second-page #canvas {
	position: absolute; 
	top: 0px; 
	bottom: 0px; 
	left: 0px; 
	right: 0px;
    z-index: -1;
    width: 100%; 
	height:60%; 
	transform-origin: 0% 0% 0px; 
	cursor: default; 
}

.set-Wallet { 
    position:absolute;
    top:0%;
    z-index:0;
    display:block;
    width:100%;
    height:100%; 
}
.set-Wallet .Wallet-bk,
.set-Wallet .Wallet {
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:1;
    width:100%;
    height:100%;
}
.set-Wallet .open-hongbao {
    position:absolute;
    bottom:30%;
    right:0;
    left:0;
    z-index:2;
    margin:0 auto;
    height:20%;
    width:30%;
}
.set-Wallet .hongbao-paper {
    position:absolute;
    bottom:30%;
    right:0;
    left:0;
    z-index:-1;
    margin:0 auto;
    height:20%;
    width:65%;
}
/*      End second-page     */

/*      Begain game-title   */
.game-title {
    position:absolute;
    bottom:40%;
    right:0;
    left:0;
    z-index:3; 
    display:block;
    margin:0 auto;
    height:50%;
    width:100%;
    text-align:center;  
}
.game-title .title-rule {
    height:100%;
    width:100%;
}
.game-title .game-rule {
    position:absolute;
    left:0;
    right:0;
    width:30%;
    bottom:6%;
    z-index:3;
    display:block;
    margin:0 auto;
    cursor:pointer;
}
.game-title .game-arrow {
    position:absolute;
    bottom:4%;
    right:8%;
    height:10%;
	width:7%;
    cursor:pointer;
}
/*      End game-title   */

/* Begain activity-rules */
.activity-rules { 
    position:absolute;
    bottom:30%;
    right:0;
    left:0;
    z-index:500; 
    display:none;
    margin:0 auto;
    height:60%;
    width:100%;
    text-align:center;  
}
.activity-rules .begain-rule {
    display:block;
    height:100%;
    width:100%; 
}
.activity-rules .begain-game {
    position:absolute;
    bottom:6%;
    left:0;
    right:0;
    width:30%; 
    z-index:4;
    display:block;
    margin:0 auto;
    cursor:pointer;
}
.activity-rules .game-close {
    position:absolute;
    right:8%;
    bottom:4%;
    height:12%;
    width:12%;
	margin:auto;
    cursor:pointer;
}
/* End activity-rules */

/* Begain counter-down*/
.counter-down {
    z-index:100;
    display:none;
    height:100%;
    width:100%;
}
.up-arrow {
    position:absolute;
    bottom:40%;
    right:0;
    left:0;
    z-index:20;
    height:5%;
    width:10%;
    margin:0 auto;  
}
.counter-num{
    position:absolute;
    bottom:50%;
    right:0;
    left:0;
    margin:0 auto;
    height:40%;
    width:50%;
    z-index:20;
} 
/*  End counter-down  */

/* Begain black-mask  */
#black-mask{
    position:absolute;
    margin:0 auto;
    left:0;
    right:0;
    bottom:0;
    z-index:21;
    display:none;
    height:100%;
    width:100%;
    background-color:green;
    filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    opacity:0.5; 
}
/*   End black-mask   */

/* Begain cloud-award */
.cloud-award{
	position:absolute;
    z-index:5;
    display:none;
    height:100%; 
    width:100%;
}
.cloud-award .cloud{
    position:absolute;
    top:0;
    right:0;
    left:0;
    z-index:10;
    height:20%;
    width:100%;
    margin:0 auto;
    text-align:center;
}
.cloud-award .award{ 
    position:relative;
    top:1.5%;
    left:2%;
    z-index:11; 
    float:left;
    width:30%;
    height:10%;
}
.award > img {
    width:90%;
    height:90%;
}
.cloud-award .decrease-time{  
    position:relative;
    top:2%;
    right:2%;
    z-index:11;
    float:right;
    height:10%;
    width:30%;
}
.decrease-time>img {
   width:100%;
   height:100%; 
}
.award>p {
    position:absolute;
    top:35%;
    left:15%;
    bottom:0;
    right:0;
    margin:auto;
    font-size:5vw;
    text-align:center;
}
.decrease-time>p {
    position:absolute;
    top:32%;
    left:20%;
    bottom:0;
    right:0;
    margin:auto;
    font-size:5vw;
    text-align:center;
}
/*   End cloud-award   */

/*   Begain play-btn   */
#play-btn{
    position:absolute;
    bottom:30%;
    left:0;
    right:0;
    z-index:21;
    display:block;
    height:23%;
    width:65%;
    margin:0 auto;
    background-color:transparent;
    filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    opacity:0.5; 
}
/*    End play-btn    */

/* Begain obtain-money */
.obtain-money{
    position:absolute;
    left:0;
    right:0;
    bottom:50%;
    display:block;
    height:30%;
    width:60%; 
    margin:0 auto;
    background-color:transparent;
}
.obtain-money input{
    position:absolute;
    left:10%;
    bottom:0%;
    width:20%;
    font-size:4vw;
    font-weight:800;
    text-align:center;
    background-color:transparent;
    border:0px solid white;
    color:white;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
/*   End obtain-money  */

/*   Begain moneybag   */
.moneybag{
    position:absolute;
    margin:0 auto;
    left:0;
    right:0;
    bottom:2%;
    z-index:20;
    display:none;
    height:100%;
    width:100%;
}
.moneybag .bag-content{
    position:absolute;
    margin:0 auto;
    left:0;
    right:0;
    bottom:0;
    display:block;
    height:90%;
    width:90%;
}
.bag-content .bag{
    height:100%;
    width:100%;
}
.bag-content .bagtext{ 
    position:absolute;
    left:0;
    right:0;
    bottom:55%;
    width:90%;
    height:10%;
    margin:0 auto;
}
.money-result{
    position:absolute;
    left:0;
    right:0;
    bottom:45%;
    width:100%;
    height:5%;
    margin:auto;
    text-align:center;
    font-size:3vw; 
}
.money-result .result{
    top:50%;
    bottom:50%;
    width:75%;
    margin:0 auto;
    vertical-align:middle;
    background-color:white;
    border-radius:10px;
}
.money-result input{
    width:10%;
    border:0px solid white;
    text-align:center;
}
.high-scores{
    position:relative;
    width:80%;
    margin:5px auto;
    border:0px solid white;
    font-size:3vw; 
    font-weight:800;
    color:yellow;
}
.high-scores input {
    width:10%;
    text-align:center;
    background-color:transparent;
}
.scores-note{
    width:75%;
    margin:0 auto;
    text-align:left;
    font-size:3vw; 
    color:white;
}
.bag-use{ 
    width:100%;
    height:100%;
    text-align:center;
    margin:2% auto;
 }
.bag-use img{
    width:50%;
    height:90%;
    margin:1% 0;
    vertical-align:middle;
}
.use-record{
    width:60%;
    margin:0 auto;
    font-size:3vw;
    background-color:transparent;
}
.use-record input{
    width:10%;
    font-size:3vw;
    background-color:transparent;
    text-align:center;
}
/*   End moneybag   */

/*   Begain share-happiness  */
.share-happiness{
    display:none;
    position:absolute;
    margin:auto;
    left:0;
    top:0;  
    width:100%;
    height:35%;
    z-index:100; 
    background-image:url(../img/share[1].png);
    background-size:100%;
    background-repeat:no-repeat;
}
/*   End share-happiness  */ 

